
#page-body{
	margin: 50px 50px;
}

.meeting-name{
	font-weight: 500;
}

.contact-name {
	all:unset;
	font-weight: bold;
    color:#243498;
    text-decoration: underline;
}

.italics {
    font-style: italic;
    color: #555;
}

.day, .date, .prev, .next{
    all:unset;
	text-align: center;
}


.month-year {
    height: 50px;
    width: 100%;
    background-color: #4d5fd2;
    border-radius: 5px;
    display: flex;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}
.month-year *{
    margin: auto;
	width: 100%;
}

#confirm-availability{
    float: right;
    margin: 20px;
}

/*
The following code (until end is indicated) is an adapted snippet 
from: https://codepen.io/havardob/pen/eYdbewq for the calendar.
*/
.datepicker-calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row-gap: 1rem;
    margin-bottom: 50px;
	overflow-x: scroll;
}

.datepicker-calendar::-webkit-scrollbar {
    height: 5px;
}

.datepicker-calendar::-webkit-scrollbar-track {
    background-color: #fff;
}

.datepicker-calendar::-webkit-scrollbar-thumb {
    background-color: #9e9e9e ;
    border-radius: 2px;
}

.day, .date {
	justify-self: center;
}

.day {
	color: #4d5fd2;
	font-size: .875em;
	font-weight: 700;
	justify-self: center;
}

.date {
	border: 0;
	padding: 0;
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-weight: 600;
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
	&:focus {
		outline: 0;
		color: #8b99f4;
		border: 2px solid #4d5fd2;	
	}	
}

.faded {
	color: #999;
}

.current-day {
	color: #FFF;
	border-color: #4d5fd2;
	background-color: #4d5fd2;
	&:focus {
		background-color: #243498;
	}
}

/*end of code snippet from codepen.io*/

@media (width < 600px) {
	#page-body{
		margin: 20px 50px;
	}

}