body {
    position: relative;
    min-height: 100vh;
}

.full {
    min-height: 100vh;
}

.col-blue {
    color: #4d5fd2;
    border-color: #4d5fd2;
}

@media (width >= 768px) {
    .med-full {
        min-height: 100vh;
    }
    .line {
        border-right: 4px solid black;
    }
}

.c-text {
    text-align: center;
}

.c-item {
    display: grid;
	align-items: center;
}

.reg {
    color: white;
    background-color: #4d5fd2;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    margin: 10px;
}
  
.log {
    color: #4d5fd2;
    background-color: white;
    border: 1px solid #4d5fd2;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    margin: 10px;
  }
  
button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: #4d5fd2;
}
  

/* #welcome {
    text-align: center;
}

#login {
    text-align: center;
} */

/* Navbar */
 
.navbar {
    height: 70px;
    background-color: rgba(104, 85, 224, 0.6);
}
 
.navbar a {
    color: white;
    margin-right: 2rem;
    transition: color 0.25s;
    padding-left: 2rem;
    text-decoration: none;
}
 
.navbar a.current {
    color: #b2f5ea;
}
 
.navbar a:hover {
    color: white;  
}

.nav-btn {
  color: white;
  background-color:#4d5fd2;
  border: 1px solid #4d5fd2;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  /* margin: 0 10px;
  width: 200px; */
  padding: 10px;
  transition: 0.4s;
  /* margin: 10px; */
}
 
@media screen and (max-width: 600px) {
    .navbar {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar a {
        margin: 0;
        padding: 0.8rem;
    }
}

/* start of cal css */

/*
https://www.w3schools.com/howto/howto_css_calendar.asp
calendar inspired from w3 schools. I have alterated the design to my liking
*/


body {
  font-family: Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

.month {
  margin-top: 20px;
  background: #4d5fd2;;
  text-align: center;
  padding: 70px 25px;
  width: 100%;

}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  color: #666;
  text-align: center;
  display: inline-block;
  width: 13.4%;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  width: 13.46%;
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #4d5fd2;
  color: white !important
}

.blur {
    color: transparent;
    text-shadow: 0 0 8px #000;
  }
